@import url(config.css);

.contato{
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    padding-top: 100px;
}
.contato p{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    line-height: 130%;
    text-align: center;
}

.form-contato{
    max-width: 700px;
    margin: 0 auto;
}

.form-contato form{
    text-align: center;
    display: block;
    margin-top: 100px;
}

.form-contato form input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
}

.form-contato form textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    outline: none;
}

.form-buttom {
    margin-top: 12px;
    border: 1px #edf0f1 solid;
    padding: 16px 40px;
    background: #0088a9;
    color: white;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 12px;
    transition: all .4s;
}

.form-buttom:hover{
    background-color: transparent;
    color: white;
}

.footer{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.3rem;
    line-height: 130%;
    text-align: center;
}

@media (max-width: 425px){
    header{
        position: fixed;
        width: 100%;
    }
}

@media (min-width: 426px) and (max-width: 768px){
    header{
        position: fixed;
        width: 100%;
    }
}