@import url(config.css);


@media (max-width: 425px){
    
    header{
        position: fixed;
        width: 100%;
    }
    
    .inicio{
        max-width: 100%;
        height: 770px;
        margin: 0 auto;
        color: white;
        padding: 20px;
        padding-top: 250px;
    }
    .inicio p{
        font-family: 'Oswald', sans-serif;
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
    }
    .inicio span{
        color: rgba(0, 136, 169,0.8);
        font-weight: bold;
    }
    .inicio p:last-child{
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;;
    }

    .PortalDeFilmes{
        max-width: 100%;
        height: 750px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .PortalDeFilmes p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }

    .blog {
        max-width: 100%;
        height: 750px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .blog p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }

    .fim{
        width: 100%;
    }

    .fim p {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: white;
        padding: 20px;
    }

    .botaoFinal{
        display: flex;
        justify-content: center;
    }

    .contatoMobile button{
        background-color: rgba(0, 136, 169,0.8);
    }
}

@media (min-width: 426px) and (max-width: 768px){
    
    header{
        position: fixed;
        width: 100%;
    }
    
    .inicio{
        max-width: 100%;
        height: 800px;
        margin: 0 auto;
        color: white;
        padding: 20px;
        padding-top: 300px;
    }
    .inicio p{
        font-family: 'Oswald', sans-serif;
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
    }
    .inicio span{
        color: rgba(0, 136, 169,0.8);
        font-weight: bold;
    }
    .inicio p:last-child{
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;;
    }

    .PortalDeFilmes{
        max-width: 100%;
        height: 700px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .PortalDeFilmes p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }

    .blog {
        max-width: 100%;
        height: 700px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .blog p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }

    .fim{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .fim p {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .botaoFinal{
        display: flex;
        justify-content: center;
    }

    .contatoMobile button{
        background-color: rgba(0, 136, 169,0.8);
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    header{
        position: fixed;
        width: 100%;
    }
    
    .inicio{
        max-width: 100%;
        height: 800px;
        margin: 0 auto;
        color: white;
        padding: 20px;
        padding-top: 300px;
    }
    .inicio p{
        font-family: 'Oswald', sans-serif;
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
    }
    .inicio span{
        color: rgba(0, 136, 169,0.8);
        font-weight: bold;
    }
    .inicio p:last-child{
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;;
    }

    .PortalDeFilmes{
        max-width: 100%;
        height: 700px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .PortalDeFilmes p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }

    .blog {
        max-width: 100%;
        height: 700px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .blog p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }

    .fim{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .fim p {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .botaoFinal{
        display: flex;
        justify-content: center;
    }

    .contatoMobile button{
        background-color: rgba(0, 136, 169,0.8);
    }
}

@media (min-width: 1025px) and (max-width: 1440px){
    header{
        position: fixed;
        width: 100%;
    }
    
    .inicio{
        max-width: 100%;
        height: 800px;
        margin: 0 auto;
        color: white;
        padding: 20px;
        padding-top: 300px;
    }
    .inicio p{
        font-family: 'Oswald', sans-serif;
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
    }
    .inicio span{
        color: rgba(0, 136, 169,0.8);
        font-weight: bold;
    }
    .inicio p:last-child{
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;;
    }

    .PortalDeFilmes{
        max-width: 100%;
        height: 700px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .PortalDeFilmes p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }

    .blog {
        max-width: 100%;
        height: 700px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .blog p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }

    .fim{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .fim p {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .botaoFinal{
        display: flex;
        justify-content: center;
    }

    .contatoMobile button{
        background-color: rgba(0, 136, 169,0.8);
    }
}

@media (min-width: 1441px) {
    header{
        position: fixed;
        width: 100%;
    }
    li, a, button{
        font-size: 1.3em;
    }
    
    .inicio{
        max-width: 100%;
        height: 900px;
        margin: 0 auto;
        color: white;
        padding: 20px;
        padding-top: 350px;
    }
    .inicio p{
        font-family: 'Oswald', sans-serif;
        font-size: 3.5rem;
        line-height: 130%;
        text-align: center;
    }
    .inicio span{
        color: rgba(0, 136, 169,0.8);
        font-weight: bold;
    }
    .inicio p:last-child{
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;;
    }

    .PortalDeFilmes{
        max-width: 100%;
        height: 800px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .PortalDeFilmes p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }

    .blog {
        max-width: 100%;
        height: 800px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .blog p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }

    .fim{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .fim p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .botaoFinal{
        display: flex;
        justify-content: center;
    }

    .contatoMobile button{
        background-color: rgba(0, 136, 169,0.8);
    }
}