@import url(config.css);

@media (max-width: 425px){
    
    header{
        position: fixed;
        width: 425px;
    }
    
    .inicio{
        outline: purple;
        max-width: 425px;
        height: 840px;
        margin: 0 auto;
        color: white;
        padding: 20px;
        padding-top: 90px;
    }
    .inicio p{
        font-family: 'Oswald', sans-serif;
        font-size: 2.5rem;
        line-height: 130%;
    }
    .inicio span{
        color: purple;
        font-weight: bold;
    }
    .inicio p:last-child{
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;;
    }

    .primeiro-projeto{
        max-width: 425px;
        height: 750px;
        margin: 0 auto;
        margin: 20px;
        border-radius: 10px;
        color: white;
        padding: 20px;
        background-color: #24252A;
    }

    .primeiro-projeto p {
        background-color: #24252A;
        font-family: "Montserrat", sans-serif;
        color: rgb(167, 167, 167);
        padding-top: 20px;
        padding-left: 20px;
    }
}

