@import url(config.css);

.textoPrincipal{
    max-width: 100%;
    height: 770px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    padding-top: 250px;
}
.textoPrincipal p{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    line-height: 130%;
    text-align: center;
}

@media (max-width: 425px){
    header{
        position: fixed;
        width: 100%;
    }
}

@media (min-width: 426px) and (max-width: 768px){
    header{
        position: fixed;
        width: 100%;
    }
}