@import url(config.css);

.contato{
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    padding-top: 100px;
}
.contato p{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    line-height: 130%;
    text-align: center;
}

.trabalho{
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
}
.trabalho a {
    background-color: #0088a9;
}
.trabalho button {
    background-color: #0088a9;
}